<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Jazmine Chargualaf is a Game Developer focusing to specialize in Technical Art, blending game development with shaders, lighting, and VFX.</p>
        <p>With experience in Unreal Engine 5 and Unity, she is continuously expanding her skills in material graphs and visual effects to enhance game worlds with immersive atmospheres. 
          Jazmine is currently working on Moonlit Alchemy, a 2.5D potion-making rpg in Unreal Engine 5, and previously developed Neon Exodus, a solo stealth game created in Unity.</p>
      </div>
      <div class="col-lg-4">
        <p>She studies Game Development at Full Sail University and has a deep love for storytelling, cozy aesthetics, and worldbuilding. 
          Whether experimenting with shaders or refining game mechanics, Jazmine is passionate about creating visually stunning and immersive experiences.</p>
          <p>
            When she’s not crafting games, she’s likely lost in a book, exploring new ideas, or making the perfect cup of coffee.
          </p>
      </div>
    </div>
  </div>
</section>
