<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Jazmine Chargualaf is a Game Developer and Software Engineer focused on UI, tools, and scalable gameplay systems. </p>
        <p>With experience in Unreal Engine 5 and Unity, she is continuously expanding her skills in building flexible and resuable systems that make development smoother for herself and for teams. 
          Jazmine is currently working on Moonlit Alchemy and Ascension Zero with Capstone Team, Broken Pixel Studios.</p>
      </div>
      <div class="col-lg-4">
        <p>With a Bachelor's in Science where she majored in Game Development, Jazmine has a deep love for storytelling, cozy aesthetics, and worldbuilding. 
          Whether experimenting with shaders, refining game mechanics, or building tools or systems to improve her team's workflow, Jazmine is passionate about creating visually stunning and immersive experiences.</p>
          <p>
            When she’s not crafting games, she’s likely lost in a book, exploring new ideas, or cooking up new recipes!
          </p>
      </div>
    </div>
  </div>
</section>
