---
layout: default
title: Moonlit Alchemy Devlogs
permalink: /devlogs/moonlit-alchemy/
---

<div class="container">
    <h1>Moonlit Alchemy Devlogs</h1>
    <div class="row">
        {% for devlog in site.devlogs %}
            {% if devlog.project == "Moonlit Alchemy" %}
                <div class="col-md-6">
                    <div class="card">
                        <h2><a href="{{ devlog.url }}">{{ devlog.title }}</a></h2>
                        <img src="{{ devlog.image }}" class="img-responsive" alt="Devlog Image">
                        <p>{{ devlog.excerpt }}</p>
                        <a href="{{ devlog.url }}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <a href="/" class="btn btn-secondary">Back to Portfolio</a>
</div>

